<h1>My Lists</h1>

<%= link_to "Create List", new_list_path %>
<div class="cards">
    <% @lists.each do |list| %>
      <div class="card">
        <%= link_to list.name, list_path(list.id) %>
      </div>
    <% end %>
</div>
